.dots {
  --gap: 3rem;
  @include flex(null, null, center);

  @include respond-to('small') {
    --gap: 1.5rem;
    order: -1;
    margin-block: 2rem !important;
  }

  & div {
    width: 2rem;
    aspect-ratio: 1;
    background: hsla(var(--clr-hue), var(--clr-sat), var(--clr-lig), 0.2);
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background: hsla(var(--clr-hue), var(--clr-sat), var(--clr-lig), 1);
    }

    @include respond-to('small') {
      width: 1rem;
    }
  }

  &--technology {
    grid-area: dots;
    flex-direction: column;

    @include respond-to('large') {
      --gap: 1.5rem;
      order: -1;
      flex-direction: row;
      margin-bottom: 2rem;
    }

    & div {
      position: relative;
      width: 6rem;
      background: transparent;
      border: 1px solid
        hsla(var(--clr-hue), var(--clr-sat), var(--clr-lig), 0.2);

      @include respond-to('small') {
        width: 4rem;
      }

      & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
      }

      &.active {
        color: var(--clr-primary);
      }
    }
  }
}
