html {
  font-size: 62.5%;
}

body {
  background: url('../assets/home/background-home-desktop.jpg') no-repeat
    center/cover;
  color: var(--clr-white);

  @include respond-to('large') {
    background: url('../assets/home/background-home-tablet.jpg') no-repeat
      center/cover;
  }

  @include respond-to('small') {
    background: url('../assets/home/background-home-mobile.jpg') no-repeat
      center/cover;
  }
}

.container {
  padding: 25rem 8rem;

  @include respond-to('large') {
    padding: 5rem 4rem;
  }

  @include respond-to('small') {
    padding: 3rem 2rem;
  }
}
