html {
  font-size: 62.5%;
}

body {
  color: var(--clr-white);
  overflow-x: hidden;
}

body[data-bg='home'] {
  background: url('../assets/home/background-home-desktop.jpg') no-repeat
    center/cover;

  @include respond-to('large') {
    background: url('../assets/home/background-home-tablet.jpg') no-repeat
      center/cover;
  }

  @include respond-to('small') {
    background: url('../assets/home/background-home-mobile.jpg') no-repeat
      center/cover;
  }
}

body[data-bg='destination'] {
  background: url('../assets/destination/background-destination-desktop.jpg')
    no-repeat center/cover;

  @include respond-to('large') {
    background: url('../assets/destination/background-destination-tablet.jpg')
      no-repeat center/cover;
  }

  @include respond-to('small') {
    background: url('../assets/destination/background-destination-mobile.jpg')
      no-repeat center/cover;
  }
}

body[data-bg='crew'] {
  @include flex(column, space-between, null);

  background: url('../assets/crew/background-crew-desktop.jpg') no-repeat
    center/cover;

  @include respond-to('large') {
    background: url('../assets/crew/background-crew-tablet.jpg') no-repeat
      center/cover;
  }

  @include respond-to('small') {
    background: url('../assets/crew/background-crew-mobile.jpg') no-repeat
      center/cover;
  }
}

body[data-bg='technology'] {
  @include flex(column, flex-start, null);
  background: url('../assets/technology/background-technology-desktop.jpg')
    no-repeat center/cover;

  @include respond-to('large') {
    background: url('../assets/technology/background-technology-tablet.jpg')
      no-repeat center/cover;
  }

  @include respond-to('small') {
    background: url('../assets/technology/background-technology-mobile.jpg')
      no-repeat center/cover;
  }
}

.container {
  padding: 25rem 18rem;

  @include respond-to('large') {
    padding: 5rem 4rem;
  }

  @include respond-to('small') {
    padding: 3rem 2rem;
  }

  &--destination {
    padding: 4rem 3vw;
  }

  &--crew {
    padding: 4rem 12rem 0 12rem;

    @include respond-to('large') {
      padding: 0 3vw;
    }
  }

  &--technology {
    padding: 4rem 0 8rem 12rem;

    @include respond-to('large') {
      padding: 4rem 0;
    }
  }
}
